# IntelliJ project files
.idea
.idea/project-template.iml
out
gen
pkg

# dep
src/afdustredna/vendor
.netrc
.netrc*

# Go build
src/afdustredna/main

# emacs, vim backup files
\#*
\.\#*
*~
emacs/emacs.d/straight_data
*/data